:root {
  --background: #f0f0f0;
  --button: #674fa3;
  --button-sh: #705aa6;
  --btn-edit: rgb(220, 210, 236);
  --btn-edit-sh: rgb(209, 201, 220);
  --btn-desc: rgb(221, 216, 226);

  /*blu*/
  /* --button: rgb(35, 30, 189);
  --btn-edit: rgb(169, 167, 227);
  --btn-desc: rgb(216, 216, 226); */
}
@font-face {
  font-family: 'myTitleFont';
  src: url('../src/fonts/Abrakadaboom.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*generici*/
a {
  all: unset;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-block {
  cursor: not-allowed;
}
.hidden {
  display: none;
}

nav {
  width: 100vw;
  padding: 0.8em 1.2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
  z-index: 2;
}
.nav-bar {
  width: 100%;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.nav-label {
  margin-left: 2rem;
  font-size: large;
  color: var(--button);
}

.nav-btn {
  padding: 0.4em 0.8em;
  padding-bottom: 0.1em;
  width: fit-content;
  background-color: var(--button);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.2s;
}
.nav-btn:hover {
  background-color: var(--button-sh);
  box-shadow: 0px 1px 2px grey;
}
.nav-btn a {
  font-size: 1.1rem;
}
.nav-btn img {
  max-width: 1.2rem;
}


/* aside {
  margin: 0.3em;
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;
} */
aside.visualize-all-chords {
  margin: 1em;
  padding: 0.7em;
  border-bottom: var(--button) solid 3px;
  /* border-radius: 25px; */
}

#title {
  font-size: x-large;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

iframe.iframe-song {
  width: 100%;
  border: none;
  overflow: hidden;
}

iframe nav button {
  display: none;
}